<!DOCTYPE html>
<html>
<head>
  <title>Rule110</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <style>
   * {
     margin: 0;
     padding: 0;
   }
             .empty {
               height: 20px;
                 width: 20px;
                 position: relative;
                 background-color: #eeeeee;
                 display: inline-block;
             }
             .filled {
               height: 20px;
                 width: 20px;
                 position: relative;
                 background-color: steelblue;
                 display: inline-block;
             }
         </style>
</head>
<body>

<%= yield %>

</body>
</html>
